<header>
  <ul class="nav">
    <li>
      <a href="/">home<small>Presentations</small></a>
    </li>
    <li>
      <a href="http://www.kencjohnston.coim/about">about<small>About KenCJohnston</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
